@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../../../public/Poppins-Regular.ttf") format("truetype");
  }
  html {
    font-family: Poppins;
  }
}

.card {
  @apply bg-white text-gray-700
        w-full min-h-[8.5rem]
        shadow-lg shadow-gray-200 rounded-md overflow-hidden;
}

td {
  padding: 12px 20px;
}

th {
  padding: 9px 20px;
}
