@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../../../public/Poppins-Regular.ttf") format("truetype");
  }
  html {
    font-family: Poppins;
  }
}

td{
  padding: 12px 10px;
}

th{
  padding: 9px 10px;
}
